flows_neuromapper.json
[{"id":"649e083b.6546e8","type":"tab","label":"Flow 1"},{"id":"bda8fed3.9545b","type":"tab","label":"Flow 1"},{"id":"4b85043a.f6662c","type":"ros-server","z":"","url":"ws://localhost:5897"},{"id":"fae54553.911cc","type":"ui_tab","z":"649e083b.6546e8","name":"Myorobotics Dashboard","icon":"dashboard","order":"1"},{"id":"9b35413c.b4863","type":"ui_tab","z":"","name":"Myorobotics Dashboard","icon":"dashboard"},{"id":"5b12678e.84315","type":"ui_group","z":"","name":"Current data","tab":"271663fe.e506cc","order":1,"disp":true,"width":"40"},{"id":"fcff0b5a.b80ef8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f6ad796.d3c7","type":"ui_group","z":"","name":"Force Control","tab":"9b35413c.b4863","order":3,"disp":true,"width":"15"},{"id":"f74204b9.a8bbd8","type":"ui_group","z":"","name":"Velocity Control","tab":"9b35413c.b4863","order":2,"disp":true,"width":"15"},{"id":"99e0fac6.c19558","type":"ui_group","z":"","name":"Joints","tab":"9b35413c.b4863","order":4,"disp":false,"width":"6"},{"id":"670f10cc.76f01","type":"ui_group","z":"","name":"Biceps ","tab":"9b35413c.b4863","order":5,"disp":true,"width":"10"},{"id":"29d1d66.2f65baa","type":"ui_group","z":"","name":"Config","tab":"9b35413c.b4863","order":9,"disp":true,"width":"6"},{"id":"61eedd1f.2d3e54","type":"ui_group","z":"","name":"Triceps ","tab":"9b35413c.b4863","order":6,"disp":true,"width":"9"},{"id":"cc4fcbf7.2443f","type":"ui_group","z":"","name":"Wrist flexor","tab":"9b35413c.b4863","order":7,"disp":true,"width":"9"},{"id":"171eb80d.0375a","type":"ui_group","z":"","name":"Wrist extensor","tab":"9b35413c.b4863","order":8,"disp":true,"width":"9"},{"id":"271663fe.e506cc","type":"ui_tab","z":"","name":"EMG","icon":"dashboard"},{"id":"44837a6f.7c7b44","type":"ui_group","z":"","name":"Position Control","tab":"9b35413c.b4863","disp":true,"width":"15"},{"id":"a83822ff.86b3e8","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/joints/lower/angle","x":180,"y":100,"wires":[["5aa1dc67.a04a2c"]]},{"id":"fa0e1fa9.c068b8","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/command","msgtype":"std_msgs/String","x":2540,"y":860,"wires":[]},{"id":"e1697a86.595da","type":"ui_slider","z":"bda8fed3.9545b","name":"Biceps","label":"Biceps","group":"44837a6f.7c7b44","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":1490,"y":500,"wires":[["250a34df.e4222c"]]},{"id":"250a34df.e4222c","type":"ui_numeric","z":"bda8fed3.9545b","name":"Biceps","label":"","group":"44837a6f.7c7b44","order":1,"width":"2","height":"1","passthru":true,"topic":"biceps","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":1490,"y":400,"wires":[["e1697a86.595da","3d97f14.46bb20e"]]},{"id":"537bac22.7fca7c","type":"ui_button","z":"bda8fed3.9545b","name":"send","group":"44837a6f.7c7b44","order":14,"width":"12","height":"1","passthru":false,"label":"Send position","color":"","bgcolor":"","icon":"","payload":"command","payloadType":"flow","topic":"command","x":2150,"y":640,"wires":[["ef81dbaa.bf61f8"]]},{"id":"cd2fe1c4.4bca08","type":"function","z":"bda8fed3.9545b","name":"save","func":"var commands = flow.get(\"position_commands\");\ncommands[msg.payload.muscle] = msg.payload;\nflow.set(\"position_commands\", commands);\n","outputs":1,"noerr":0,"x":2170,"y":760,"wires":[[]]},{"id":"23f07321.c6c99c","type":"ui_switch","z":"bda8fed3.9545b","name":"biceps_switch","label":"","group":"44837a6f.7c7b44","order":3,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"biceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820,"y":420,"wires":[["919cf848.6256e8"]]},{"id":"4534c71b.871848","type":"json","z":"bda8fed3.9545b","name":"toJSON","x":2280,"y":860,"wires":[["fa0e1fa9.c068b8"]]},{"id":"bcb0cfef.f16a78","type":"ui_slider","z":"bda8fed3.9545b","name":"Triceps","label":"Triceps","group":"44837a6f.7c7b44","order":5,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":1500,"y":700,"wires":[["f3949665.2a10a"]]},{"id":"f3949665.2a10a","type":"ui_numeric","z":"bda8fed3.9545b","name":"Triceps","label":"","group":"44837a6f.7c7b44","order":6,"width":"2","height":"1","passthru":true,"topic":"triceps","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":1500,"y":600,"wires":[["bcb0cfef.f16a78","3d97f14.46bb20e"]]},{"id":"ed8c7156.33d87","type":"ui_switch","z":"bda8fed3.9545b","name":"Triceps_switch","label":"","group":"44837a6f.7c7b44","order":4,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"triceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2840,"y":620,"wires":[["919cf848.6256e8"]]},{"id":"ef81dbaa.bf61f8","type":"function","z":"bda8fed3.9545b","name":"split","func":"commands = flow.get(\"position_commands\");\nnode.log(Object.keys(commands).length);\nvar outputMsgs = [];\nfor (var c in commands) {\n    outputMsgs.push({payload:commands[c]});\n}\nflow.set(\"position_commands\",{});\n// for (const entry of commands.entries()) {\n//   node.log(entry);\n// }\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":2290,"y":640,"wires":[["4534c71b.871848"]]},{"id":"ee33f55e.1fa288","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_extensor","label":"Wrist extensor","group":"44837a6f.7c7b44","order":8,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":1520,"y":880,"wires":[["490309e1.31f458"]]},{"id":"490309e1.31f458","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_extensor","label":"","group":"44837a6f.7c7b44","order":9,"width":"2","height":"1","passthru":true,"topic":"wrist_extensor","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":1520,"y":780,"wires":[["ee33f55e.1fa288","3d97f14.46bb20e"]]},{"id":"f53f49bf.0e7b98","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_extensor_switch","label":"","group":"44837a6f.7c7b44","order":7,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_extensor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2840,"y":800,"wires":[["919cf848.6256e8"]]},{"id":"bc80124a.041028","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_flexor","label":"Wrist flexor","group":"44837a6f.7c7b44","order":11,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":1510,"y":1080,"wires":[["289730c0.4d9368"]]},{"id":"289730c0.4d9368","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_flexor","label":"","group":"44837a6f.7c7b44","order":12,"width":"2","height":"1","passthru":true,"topic":"wrist_flexor","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":1510,"y":980,"wires":[["bc80124a.041028","3d97f14.46bb20e"]]},{"id":"d7b68e4.62dc6f","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_flexor_switch","label":"","group":"44837a6f.7c7b44","order":10,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_flexor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2850,"y":1000,"wires":[["919cf848.6256e8"]]},{"id":"827e7ca8.729e3","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/command","msgtype":"std_msgs/String","x":1980,"y":2840,"wires":[]},{"id":"6933e60a.7152f","type":"ui_slider","z":"bda8fed3.9545b","name":"Biceps","label":"Biceps","group":"5f6ad796.d3c7","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":770,"y":2620,"wires":[["710cde86.a99c78"]]},{"id":"710cde86.a99c78","type":"ui_numeric","z":"bda8fed3.9545b","name":"Biceps","label":"","group":"5f6ad796.d3c7","order":3,"width":"2","height":"1","passthru":true,"topic":"biceps","format":"{{value}}","min":"38","max":"80","step":"1","x":770,"y":2520,"wires":[["6933e60a.7152f","314bcf8.59a9f3"]]},{"id":"1adcc96.69f8937","type":"ui_button","z":"bda8fed3.9545b","name":"send","group":"5f6ad796.d3c7","order":13,"width":0,"height":0,"passthru":false,"label":"Send force","color":"","bgcolor":"","icon":"","payload":"command","payloadType":"flow","topic":"command","x":1410,"y":2840,"wires":[["43bcbdf0.3c81b4"]]},{"id":"5228d531.2ee964","type":"function","z":"bda8fed3.9545b","name":"save","func":"var commands = flow.get(\"force_commands\");\ncommands[msg.payload.muscle] = msg.payload;\nflow.set(\"force_commands\", commands);\n","outputs":1,"noerr":0,"x":1290,"y":2840,"wires":[[]]},{"id":"9635618e.f5ec38","type":"function","z":"bda8fed3.9545b","name":"disable","func":"var commands = {};\nflow.set(\"force_commands\", commands);\n\nif(!msg.payload)\n{\n    // msg.enabled = true;\n    // flow.set(\"command\", 10);\n    flow.set(msg.topic + \"_force_enabled\", false);\n    \n}\nelse\n{\n    flow.set(msg.topic + \"_force_enabled\", true);\n}\n// disable/enable the sliders\nmsg.enabled = msg.payload;\nif (msg.topic==\"biceps\")\n{\n    return [msg, null, null, null];\n}\n\nelse if (msg.topic==\"triceps\")\n{\n    return [null, msg, null, null];\n}\n\nelse if (msg.topic==\"wrist_extensor\")\n{\n    return [null, null, msg, null];\n}\n\nelse if (msg.topic==\"wrist_flexor\")\n{\n    return [null, null, null, msg];\n}\n","outputs":"4","noerr":0,"x":500,"y":2840,"wires":[["710cde86.a99c78","6933e60a.7152f"],["d8e57f8b.b8d788","599ab2c3.af512c"],["8c8384c2.fb94e","4e732646.e86d58"],["58f2f67e.97dbd8","67ada49e.e56a24"]]},{"id":"da444e6c.148c","type":"ui_switch","z":"bda8fed3.9545b","name":"biceps_switch","label":"","group":"5f6ad796.d3c7","order":1,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"biceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":2560,"wires":[["9635618e.f5ec38"]]},{"id":"b287044.920b178","type":"json","z":"bda8fed3.9545b","name":"toJSON","x":1780,"y":2840,"wires":[["827e7ca8.729e3"]]},{"id":"314bcf8.59a9f3","type":"function","z":"bda8fed3.9545b","name":"form_command","func":"var commandJSON = {};\nif (flow.get(msg.topic + \"_force_enabled\"))\n{\n    commandJSON.muscle = msg.topic;//\"triceps\";\n    commandJSON.setpoint = msg.payload;\n    commandJSON.action = \"keep\";\n    msg.payload = commandJSON;\n    return msg;\n}\nelse\n{\n    node.log(msg.topic + \" not enabled\");\n}\n\n","outputs":1,"noerr":0,"x":1060,"y":2840,"wires":[["5228d531.2ee964"]]},{"id":"d8e57f8b.b8d788","type":"ui_slider","z":"bda8fed3.9545b","name":"Triceps","label":"Triceps","group":"5f6ad796.d3c7","order":5,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"100","step":"1","x":780,"y":2820,"wires":[["599ab2c3.af512c"]]},{"id":"599ab2c3.af512c","type":"ui_numeric","z":"bda8fed3.9545b","name":"Triceps","label":"","group":"5f6ad796.d3c7","order":6,"width":"2","height":"1","passthru":true,"topic":"triceps","format":"{{value}}","min":"38","max":"80","step":"1","x":780,"y":2720,"wires":[["d8e57f8b.b8d788","314bcf8.59a9f3"]]},{"id":"69d24581.48b574","type":"ui_switch","z":"bda8fed3.9545b","name":"Triceps_switch","label":"","group":"5f6ad796.d3c7","order":4,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"triceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":2760,"wires":[["9635618e.f5ec38"]]},{"id":"43bcbdf0.3c81b4","type":"function","z":"bda8fed3.9545b","name":"split","func":"commands = flow.get(\"force_commands\");\nnode.log(Object.keys(commands).length);\nvar outputMsgs = [];\nfor (var c in commands) {\n    outputMsgs.push({payload:commands[c]});\n}\nflow.set(\"force_commands\",{});\n// for (const entry of commands.entries()) {\n//   node.log(entry);\n// }\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":1590,"y":2840,"wires":[["b287044.920b178"]]},{"id":"4e732646.e86d58","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_extensor","label":"Wrist extensor","group":"5f6ad796.d3c7","order":8,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":800,"y":3000,"wires":[["8c8384c2.fb94e"]]},{"id":"8c8384c2.fb94e","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_extensor","label":"","group":"5f6ad796.d3c7","order":9,"width":"2","height":"1","passthru":true,"topic":"wrist_extensor","format":"{{value}}","min":"38","max":"80","step":"1","x":800,"y":2900,"wires":[["4e732646.e86d58","314bcf8.59a9f3"]]},{"id":"f4c9e3fd.1613c","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_extensor_switch","label":"","group":"5f6ad796.d3c7","order":7,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_extensor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":2940,"wires":[["9635618e.f5ec38"]]},{"id":"67ada49e.e56a24","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_flexor","label":"Wrist flexor","group":"5f6ad796.d3c7","order":11,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":790,"y":3200,"wires":[["58f2f67e.97dbd8"]]},{"id":"58f2f67e.97dbd8","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_flexor","label":"","group":"5f6ad796.d3c7","order":12,"width":"2","height":"1","passthru":true,"topic":"wrist_flexor","format":"{{value}}","min":"38","max":"80","step":"1","x":790,"y":3100,"wires":[["67ada49e.e56a24","314bcf8.59a9f3"]]},{"id":"8930434e.745428","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_flexor_switch","label":"","group":"5f6ad796.d3c7","order":10,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_flexor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":3140,"wires":[["9635618e.f5ec38"]]},{"id":"3d97f14.46bb20e","type":"function","z":"bda8fed3.9545b","name":"form_command","func":"var commandJSON = {};\nif (flow.get(msg.topic + \"_position_enabled\"))\n{\n    commandJSON.muscle = msg.topic;//\"triceps\";\n    commandJSON.setpoint = msg.payload;\n    commandJSON.action = \"move to\";\n    msg.payload = commandJSON;\n    return msg;\n}\nelse\n{\n    node.log(msg.topic + \" position not enabled\");\n}\n\n","outputs":1,"noerr":0,"x":1780,"y":840,"wires":[["ed5900c3.14e44"]]},{"id":"906301c0.342f2","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/command","msgtype":"std_msgs/String","x":2020,"y":2060,"wires":[]},{"id":"2fb1ae07.9a6772","type":"ui_slider","z":"bda8fed3.9545b","name":"Biceps","label":"Biceps","group":"f74204b9.a8bbd8","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":"10","step":"1","x":750,"y":1840,"wires":[["41169de7.8ef6b4"]]},{"id":"41169de7.8ef6b4","type":"ui_numeric","z":"bda8fed3.9545b","name":"Biceps","label":"","group":"f74204b9.a8bbd8","order":3,"width":"2","height":"1","passthru":true,"topic":"biceps","format":"{{value}}","min":"-10","max":"10","step":"1","x":750,"y":1740,"wires":[["2fb1ae07.9a6772","df742df9.1eecc"]]},{"id":"f6979a7.1727e68","type":"ui_button","z":"bda8fed3.9545b","name":"send","group":"f74204b9.a8bbd8","order":13,"width":0,"height":0,"passthru":false,"label":"Send velocity","color":"","bgcolor":"","icon":"","payload":"command","payloadType":"flow","topic":"command","x":1450,"y":2060,"wires":[["410a7fdd.ad5818"]]},{"id":"c02c24eb.43b788","type":"function","z":"bda8fed3.9545b","name":"save","func":"var commands = flow.get(\"velocity_commands\");\ncommands[msg.payload.muscle] = msg.payload;\nflow.set(\"velocity_commands\", commands);\n","outputs":1,"noerr":0,"x":1290,"y":2060,"wires":[[]]},{"id":"27796053.a01238","type":"ui_switch","z":"bda8fed3.9545b","name":"biceps_switch","label":"","group":"f74204b9.a8bbd8","order":1,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"biceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":1780,"wires":[["46ffbe01.e3601"]]},{"id":"4ef3cda5.75b2ec","type":"json","z":"bda8fed3.9545b","name":"toJSON","x":1820,"y":2060,"wires":[["906301c0.342f2"]]},{"id":"df742df9.1eecc","type":"function","z":"bda8fed3.9545b","name":"form_command","func":"var commandJSON = {};\nif (flow.get(msg.topic + \"_velocity_enabled\"))\n{\n    commandJSON.muscle = msg.topic;//\"triceps\";\n    commandJSON.setpoint = msg.payload;\n    commandJSON.action = \"move with\";\n    msg.payload = commandJSON;\n    return msg;\n}\nelse\n{\n    node.log(msg.topic + \" velocity not enabled\");\n}\n\n","outputs":1,"noerr":0,"x":1060,"y":2060,"wires":[["c02c24eb.43b788"]]},{"id":"bfe8031b.595c88","type":"ui_slider","z":"bda8fed3.9545b","name":"Triceps","label":"Triceps","group":"f74204b9.a8bbd8","order":5,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":760,"y":2040,"wires":[["64a1f71b.2f07e8"]]},{"id":"64a1f71b.2f07e8","type":"ui_numeric","z":"bda8fed3.9545b","name":"Triceps","label":"","group":"f74204b9.a8bbd8","order":6,"width":"2","height":"1","passthru":true,"topic":"triceps","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":760,"y":1940,"wires":[["bfe8031b.595c88","df742df9.1eecc"]]},{"id":"35affd67.fc6eda","type":"ui_switch","z":"bda8fed3.9545b","name":"Triceps_switch","label":"","group":"f74204b9.a8bbd8","order":4,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"triceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":1980,"wires":[["46ffbe01.e3601"]]},{"id":"410a7fdd.ad5818","type":"function","z":"bda8fed3.9545b","name":"split","func":"commands = flow.get(\"velocity_commands\");\nnode.log(Object.keys(commands).length);\nvar outputMsgs = [];\nfor (var c in commands) {\n    outputMsgs.push({payload:commands[c]});\n}\nflow.set(\"velocity_commands\",{});\n// for (const entry of commands.entries()) {\n//   node.log(entry);\n// }\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":1630,"y":2060,"wires":[["4ef3cda5.75b2ec"]]},{"id":"5a6af5c5.70c41c","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_extensor","label":"Wrist extensor","group":"f74204b9.a8bbd8","order":8,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":780,"y":2220,"wires":[["8887c254.14edb"]]},{"id":"8887c254.14edb","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_extensor","label":"","group":"f74204b9.a8bbd8","order":9,"width":"2","height":"1","passthru":true,"topic":"wrist_extensor","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":780,"y":2120,"wires":[["5a6af5c5.70c41c","df742df9.1eecc"]]},{"id":"5c7c1e33.05e448","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_extensor_switch","label":"","group":"f74204b9.a8bbd8","order":7,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_extensor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":2160,"wires":[["46ffbe01.e3601"]]},{"id":"bdcb098d.25de68","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_flexor","label":"Wrist flexor","group":"f74204b9.a8bbd8","order":11,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":770,"y":2420,"wires":[["76645327.be8364"]]},{"id":"76645327.be8364","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_flexor","label":"","group":"f74204b9.a8bbd8","order":12,"width":"2","height":"1","passthru":true,"topic":"wrist_flexor","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":770,"y":2320,"wires":[["bdcb098d.25de68","df742df9.1eecc"]]},{"id":"92590c.912a36f8","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_flexor_switch","label":"","group":"f74204b9.a8bbd8","order":10,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_flexor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":2360,"wires":[["46ffbe01.e3601"]]},{"id":"cee5a80f.e68398","type":"ui_gauge","z":"bda8fed3.9545b","name":"","group":"99e0fac6.c19558","order":2,"width":"6","height":"4","gtype":"gage","title":"Lower joint angle","label":"ticks","format":"{{value}}","min":"1443","max":"2740","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":100,"wires":[]},{"id":"5aa1dc67.a04a2c","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["cee5a80f.e68398"]]},{"id":"1a8f9268.7679ce","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/joints/upper/angle","x":190,"y":160,"wires":[["d54292c.1f88c7"]]},{"id":"13af9d01.fd1c4b","type":"ui_gauge","z":"bda8fed3.9545b","name":"","group":"99e0fac6.c19558","order":1,"width":"6","height":"4","gtype":"gage","title":"Uppper joint angle","label":"ticks","format":"{{value}}","min":"1590","max":"3160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"d54292c.1f88c7","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["13af9d01.fd1c4b"]]},{"id":"fbd3d18e.b9628","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/biceps/sensors","x":210,"y":380,"wires":[["df0b8e41.5b20d8"]]},{"id":"df0b8e41.5b20d8","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":380,"wires":[["210effc7.1a231","e1697a86.595da"],["820184c1.43b57"],["4313fe7f.463da8"],[]]},{"id":"210effc7.1a231","type":"ui_chart","z":"bda8fed3.9545b","name":"actuator position ","group":"670f10cc.76f01","order":1,"width":"8","height":"5","label":"actuator position (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8f42db","#c5b0d5"],"x":750,"y":300,"wires":[[],[]]},{"id":"820184c1.43b57","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"670f10cc.76f01","order":2,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":360,"wires":[[],[]]},{"id":"4313fe7f.463da8","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"670f10cc.76f01","order":3,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":420,"wires":[[],[]]},{"id":"f47bbde6.0c333","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"Start init","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1460,"wires":[["cf28162c.ea6da"]]},{"id":"979e36ff.64fb","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/triceps/sensors","x":210,"y":640,"wires":[["6d631d4c.607eec"]]},{"id":"6d631d4c.607eec","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":640,"wires":[["55d776af.0108a8","bcb0cfef.f16a78"],["225499c8.a588f6"],["d7af9772.0af588"],[]]},{"id":"55d776af.0108a8","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":5,"width":"8","height":"5","label":"actuator position (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":560,"wires":[[],[]]},{"id":"225499c8.a588f6","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":6,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":620,"wires":[[],[]]},{"id":"d7af9772.0af588","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":7,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":800,"y":680,"wires":[[],[]]},{"id":"815f6356.6fe9","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/wrist_flexor/sensors","x":240,"y":1160,"wires":[["76619535.547334"]]},{"id":"76619535.547334","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":540,"y":1160,"wires":[["3bc55660.ca21aa","bc80124a.041028"],["f0ea0f83.a0dcd"],["e9b03fb5.fc2e2"],[]]},{"id":"3bc55660.ca21aa","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":9,"width":"8","height":"5","label":"actuator position (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":1060,"wires":[[],[]]},{"id":"f0ea0f83.a0dcd","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":10,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":1120,"wires":[[],[]]},{"id":"e9b03fb5.fc2e2","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":11,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":800,"y":1180,"wires":[[],[]]},{"id":"b3c0bb01.433bc","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/wrist_extensor/sensors","x":230,"y":900,"wires":[["f0d5f8de.a4e1b8"]]},{"id":"f0d5f8de.a4e1b8","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":900,"wires":[["be7444ce.2daaf","ee33f55e.1fa288"],["611f3ad.6f58744"],["b0571ba0.a7e96"],[]]},{"id":"be7444ce.2daaf","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":13,"width":"8","height":"5","label":"actuator position (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":760,"y":800,"wires":[[],[]]},{"id":"611f3ad.6f58744","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":14,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":860,"wires":[[],[]]},{"id":"b0571ba0.a7e96","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":15,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":920,"wires":[[],[]]},{"id":"84205e2f.7867c","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/init","msgtype":"std_msgs/String","x":370,"y":1400,"wires":[]},{"id":"89b9bdc7.1bd22","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"Init here","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1400,"wires":[["84205e2f.7867c"]]},{"id":"cf28162c.ea6da","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/force_init","msgtype":"std_msgs/String","x":390,"y":1460,"wires":[]},{"id":"4b66bc52.67c31c","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"relax all","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1520,"wires":[["ddaf27ac.f0e0f8"]]},{"id":"ddaf27ac.f0e0f8","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/relax_all","msgtype":"std_msgs/String","x":390,"y":1520,"wires":[]},{"id":"ed5900c3.14e44","type":"switch","z":"bda8fed3.9545b","name":"","property":"continuous","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":1970,"y":840,"wires":[["cd2fe1c4.4bca08"],["4534c71b.871848"]]},{"id":"1b0a5a37.22492e","type":"ui_switch","z":"bda8fed3.9545b","name":"","label":"Continuous","group":"44837a6f.7c7b44","order":13,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1770,"y":640,"wires":[["fc8b9a21.340aa8"]]},{"id":"fc8b9a21.340aa8","type":"function","z":"bda8fed3.9545b","name":"continuous","func":"flow.set(\"continuous\", msg.payload)\nmsg.enabled = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":640,"wires":[["537bac22.7fca7c"]]},{"id":"8a8f2f0.8bbc35","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"stop all","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1580,"wires":[["fb414102.cb2548"]]},{"id":"fb414102.cb2548","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/stop_all","msgtype":"std_msgs/String","x":380,"y":1580,"wires":[]},{"id":"919cf848.6256e8","type":"function","z":"bda8fed3.9545b","name":"disable","func":"var commands = {};\nflow.set(\"position_commands\", commands);\n\nif(!msg.payload)\n{\n    // msg.enabled = true;\n    // flow.set(\"command\", 10);\n    flow.set(msg.topic + \"_position_enabled\", false);\n    \n}\nelse\n{\n    flow.set(msg.topic + \"_position_enabled\", true);\n}\n// disable/enable the sliders\nmsg.enabled = msg.payload;\nif (msg.topic==\"biceps\")\n{\n    return [msg, null, null, null];\n}\n\nelse if (msg.topic==\"triceps\")\n{\n    return [null, msg, null, null];\n}\n\nelse if (msg.topic==\"wrist_extensor\")\n{\n    return [null, null, msg, null];\n}\n\nelse if (msg.topic==\"wrist_flexor\")\n{\n    return [null, null, null, msg];\n}\n","outputs":"4","noerr":0,"x":3080,"y":760,"wires":[[],[],[],[]]},{"id":"46ffbe01.e3601","type":"function","z":"bda8fed3.9545b","name":"disable","func":"var commands = {};\nflow.set(\"velocity_commands\", commands);\n\nif(!msg.payload)\n{\n    // msg.enabled = true;\n    // flow.set(\"command\", 10);\n    flow.set(msg.topic + \"_velocity_enabled\", false);\n    \n}\nelse\n{\n    flow.set(msg.topic + \"_velocity_enabled\", true);\n}\n// disable/enable the sliders\nmsg.enabled = msg.payload;\nif (msg.topic==\"biceps\")\n{\n    return [msg, null, null, null];\n}\n\nelse if (msg.topic==\"triceps\")\n{\n    return [null, msg, null, null];\n}\n\nelse if (msg.topic==\"wrist_extensor\")\n{\n    return [null, null, msg, null];\n}\n\nelse if (msg.topic==\"wrist_flexor\")\n{\n    return [null, null, null, msg];\n}\n","outputs":"4","noerr":0,"x":460,"y":2100,"wires":[["41169de7.8ef6b4","2fb1ae07.9a6772"],["64a1f71b.2f07e8","bfe8031b.595c88"],["8887c254.14edb","5a6af5c5.70c41c"],["76645327.be8364","bdcb098d.25de68"]]},{"id":"d944c31f.69762","type":"ui_chart","z":"bda8fed3.9545b","name":"Untitled Theme 1","group":"5b12678e.84315","order":1,"width":"40","height":"21","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#f27c13","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1081,"y":3639,"wires":[[],[]]},{"id":"d439435a.7ab56","type":"udp in","z":"bda8fed3.9545b","name":"","iface":"","port":"16572","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":130,"y":3644,"wires":[["b2b6d10e.969a3"]]},{"id":"b2b6d10e.969a3","type":"delay","z":"bda8fed3.9545b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"30","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":341,"y":3645,"wires":[["50447a64.5c9d54"]]},{"id":"8d28e45d.e5e348","type":"function","z":"bda8fed3.9545b","name":"bipolar derivation","func":"arr = msg.payload;\nmsg.payload = arr[1] - arr[0];\nreturn msg;","outputs":1,"noerr":0,"x":749,"y":3645,"wires":[["d944c31f.69762","f3705379.3ac8a"]]},{"id":"50447a64.5c9d54","type":"function","z":"bda8fed3.9545b","name":"","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":3644,"wires":[["8d28e45d.e5e348"]]},{"id":"f3705379.3ac8a","type":"debug","z":"bda8fed3.9545b","name":"","active":true,"console":"false","complete":"false","x":940,"y":3767,"wires":[]}]