nodered_gui_flow.json
[{"id":"649e083b.6546e8","type":"tab","label":"Flow 1"},{"id":"bda8fed3.9545b","type":"tab","label":"Flow 1"},{"id":"4b85043a.f6662c","type":"ros-server","z":"","url":"ws://localhost:9191"},{"id":"fae54553.911cc","type":"ui_tab","z":"649e083b.6546e8","name":"Myorobotics Dashboard","icon":"dashboard","order":"1"},{"id":"9b35413c.b4863","type":"ui_tab","z":"","name":"Myorobotics Dashboard","icon":"dashboard"},{"id":"5b12678e.84315","type":"ui_group","z":"","name":"Position Control","tab":"9b35413c.b4863","order":1,"disp":true,"width":"15"},{"id":"fcff0b5a.b80ef8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f6ad796.d3c7","type":"ui_group","z":"","name":"Force Control","tab":"9b35413c.b4863","order":3,"disp":true,"width":"15"},{"id":"f74204b9.a8bbd8","type":"ui_group","z":"","name":"Velocity Control","tab":"9b35413c.b4863","order":2,"disp":true,"width":"15"},{"id":"99e0fac6.c19558","type":"ui_group","z":"","name":"Joints","tab":"9b35413c.b4863","order":4,"disp":false,"width":"6"},{"id":"670f10cc.76f01","type":"ui_group","z":"","name":"Biceps ","tab":"9b35413c.b4863","order":5,"disp":true,"width":"10"},{"id":"29d1d66.2f65baa","type":"ui_group","z":"","name":"Config","tab":"9b35413c.b4863","order":9,"disp":true,"width":"6"},{"id":"61eedd1f.2d3e54","type":"ui_group","z":"","name":"Triceps ","tab":"9b35413c.b4863","order":6,"disp":true,"width":"9"},{"id":"cc4fcbf7.2443f","type":"ui_group","z":"","name":"Wrist flexor","tab":"9b35413c.b4863","order":7,"disp":true,"width":"9"},{"id":"171eb80d.0375a","type":"ui_group","z":"","name":"Wrist extensor","tab":"9b35413c.b4863","order":8,"disp":true,"width":"9"},{"id":"a83822ff.86b3e8","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/joints/lower/angle","x":180,"y":100,"wires":[["5aa1dc67.a04a2c"]]},{"id":"fa0e1fa9.c068b8","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/command","msgtype":"std_msgs/String","x":1860,"y":2060,"wires":[]},{"id":"e1697a86.595da","type":"ui_slider","z":"bda8fed3.9545b","name":"Biceps","label":"Biceps","group":"5b12678e.84315","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":550,"y":1820,"wires":[["250a34df.e4222c"]]},{"id":"250a34df.e4222c","type":"ui_numeric","z":"bda8fed3.9545b","name":"Biceps","label":"","group":"5b12678e.84315","order":3,"width":"2","height":"1","passthru":true,"topic":"biceps","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":550,"y":1720,"wires":[["e1697a86.595da","3d97f14.46bb20e"]]},{"id":"537bac22.7fca7c","type":"ui_button","z":"bda8fed3.9545b","name":"send","group":"5b12678e.84315","order":13,"width":"15","height":"1","passthru":false,"label":"Send position","color":"","bgcolor":"","icon":"","payload":"command","payloadType":"flow","topic":"command","x":1290,"y":2060,"wires":[["ef81dbaa.bf61f8"]]},{"id":"cd2fe1c4.4bca08","type":"function","z":"bda8fed3.9545b","name":"save","func":"var commands = flow.get(\"position_commands\");\ncommands[msg.payload.muscle] = msg.payload;\nflow.set(\"position_commands\", commands);\n","outputs":1,"noerr":0,"x":1110,"y":2060,"wires":[[]]},{"id":"23f07321.c6c99c","type":"ui_switch","z":"bda8fed3.9545b","name":"biceps_switch","label":"","group":"5b12678e.84315","order":1,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"biceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":1760,"wires":[["5840d9a2.643e"]]},{"id":"4534c71b.871848","type":"json","z":"bda8fed3.9545b","name":"toJSON","x":1660,"y":2060,"wires":[["fa0e1fa9.c068b8"]]},{"id":"bcb0cfef.f16a78","type":"ui_slider","z":"bda8fed3.9545b","name":"Triceps","label":"Triceps","group":"5b12678e.84315","order":5,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":560,"y":2020,"wires":[["f3949665.2a10a"]]},{"id":"f3949665.2a10a","type":"ui_numeric","z":"bda8fed3.9545b","name":"Triceps","label":"","group":"5b12678e.84315","order":6,"width":"2","height":"1","passthru":true,"topic":"triceps","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":560,"y":1920,"wires":[["bcb0cfef.f16a78","3d97f14.46bb20e"]]},{"id":"ed8c7156.33d87","type":"ui_switch","z":"bda8fed3.9545b","name":"Triceps_switch","label":"","group":"5b12678e.84315","order":4,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"triceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":1960,"wires":[["5840d9a2.643e"]]},{"id":"ef81dbaa.bf61f8","type":"function","z":"bda8fed3.9545b","name":"split","func":"commands = flow.get(\"position_commands\");\nnode.log(Object.keys(commands).length);\nvar outputMsgs = [];\nfor (var c in commands) {\n    outputMsgs.push({payload:commands[c]});\n}\nflow.set(\"position_commands\",{});\n// for (const entry of commands.entries()) {\n//   node.log(entry);\n// }\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":1470,"y":2060,"wires":[["4534c71b.871848"]]},{"id":"ee33f55e.1fa288","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_extensor","label":"Wrist extensor","group":"5b12678e.84315","order":8,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":580,"y":2200,"wires":[["490309e1.31f458"]]},{"id":"490309e1.31f458","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_extensor","label":"","group":"5b12678e.84315","order":9,"width":"2","height":"1","passthru":true,"topic":"wrist_extensor","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":580,"y":2100,"wires":[["ee33f55e.1fa288","3d97f14.46bb20e"]]},{"id":"f53f49bf.0e7b98","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_extensor_switch","label":"","group":"5b12678e.84315","order":7,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_extensor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":2140,"wires":[["5840d9a2.643e"]]},{"id":"bc80124a.041028","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_flexor","label":"Wrist flexor","group":"5b12678e.84315","order":11,"width":"12","height":"1","passthru":true,"topic":"","min":"-10","max":10,"step":"0.1","x":570,"y":2400,"wires":[["289730c0.4d9368"]]},{"id":"289730c0.4d9368","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_flexor","label":"","group":"5b12678e.84315","order":12,"width":"2","height":"1","passthru":true,"topic":"wrist_flexor","format":"{{value}}","min":"-10","max":10,"step":"0.1","x":570,"y":2300,"wires":[["bc80124a.041028","3d97f14.46bb20e"]]},{"id":"d7b68e4.62dc6f","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_flexor_switch","label":"","group":"5b12678e.84315","order":10,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_flexor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":2340,"wires":[["5840d9a2.643e"]]},{"id":"827e7ca8.729e3","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/command","msgtype":"std_msgs/String","x":1860,"y":2880,"wires":[]},{"id":"6933e60a.7152f","type":"ui_slider","z":"bda8fed3.9545b","name":"Biceps","label":"Biceps","group":"5f6ad796.d3c7","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":550,"y":2660,"wires":[["710cde86.a99c78"]]},{"id":"710cde86.a99c78","type":"ui_numeric","z":"bda8fed3.9545b","name":"Biceps","label":"","group":"5f6ad796.d3c7","order":3,"width":"2","height":"1","passthru":true,"topic":"biceps","format":"{{value}}","min":"38","max":"80","step":"1","x":550,"y":2560,"wires":[["6933e60a.7152f","314bcf8.59a9f3"]]},{"id":"1adcc96.69f8937","type":"ui_button","z":"bda8fed3.9545b","name":"send","group":"5f6ad796.d3c7","order":13,"width":0,"height":0,"passthru":false,"label":"Send force","color":"","bgcolor":"","icon":"","payload":"command","payloadType":"flow","topic":"command","x":1290,"y":2880,"wires":[["43bcbdf0.3c81b4"]]},{"id":"5228d531.2ee964","type":"function","z":"bda8fed3.9545b","name":"save","func":"var commands = flow.get(\"force_commands\");\ncommands[msg.payload.muscle] = msg.payload;\nflow.set(\"force_commands\", commands);\n","outputs":1,"noerr":0,"x":1130,"y":2880,"wires":[[]]},{"id":"9635618e.f5ec38","type":"function","z":"bda8fed3.9545b","name":"disable","func":"var commands = {};\nflow.set(\"force_commands\", commands);\n\nif(!msg.payload)\n{\n    // msg.enabled = true;\n    // flow.set(\"command\", 10);\n    flow.set(msg.topic + \"_force_enabled\", false);\n    \n}\nelse\n{\n    flow.set(msg.topic + \"_force_enabled\", true);\n}","outputs":1,"noerr":0,"x":380,"y":2880,"wires":[[]]},{"id":"da444e6c.148c","type":"ui_switch","z":"bda8fed3.9545b","name":"biceps_switch","label":"","group":"5f6ad796.d3c7","order":1,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"biceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":2600,"wires":[["9635618e.f5ec38"]]},{"id":"b287044.920b178","type":"json","z":"bda8fed3.9545b","name":"toJSON","x":1660,"y":2880,"wires":[["827e7ca8.729e3"]]},{"id":"314bcf8.59a9f3","type":"function","z":"bda8fed3.9545b","name":"form_command","func":"var commandJSON = {};\nif (flow.get(msg.topic + \"_force_enabled\"))\n{\n    commandJSON.muscle = msg.topic;//\"triceps\";\n    commandJSON.setpoint = msg.payload;\n    commandJSON.action = \"keep\";\n    msg.payload = commandJSON;\n    return msg;\n}\nelse\n{\n    node.log(msg.topic + \" not enabled\");\n}\n\n","outputs":1,"noerr":0,"x":900,"y":2880,"wires":[["5228d531.2ee964"]]},{"id":"d8e57f8b.b8d788","type":"ui_slider","z":"bda8fed3.9545b","name":"Triceps","label":"Triceps","group":"5f6ad796.d3c7","order":5,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":560,"y":2860,"wires":[["599ab2c3.af512c"]]},{"id":"599ab2c3.af512c","type":"ui_numeric","z":"bda8fed3.9545b","name":"Triceps","label":"","group":"5f6ad796.d3c7","order":6,"width":"2","height":"1","passthru":true,"topic":"triceps","format":"{{value}}","min":"38","max":"80","step":"1","x":560,"y":2760,"wires":[["d8e57f8b.b8d788","314bcf8.59a9f3"]]},{"id":"69d24581.48b574","type":"ui_switch","z":"bda8fed3.9545b","name":"Triceps_switch","label":"","group":"5f6ad796.d3c7","order":4,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"triceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":2800,"wires":[["9635618e.f5ec38"]]},{"id":"43bcbdf0.3c81b4","type":"function","z":"bda8fed3.9545b","name":"split","func":"commands = flow.get(\"force_commands\");\nnode.log(Object.keys(commands).length);\nvar outputMsgs = [];\nfor (var c in commands) {\n    outputMsgs.push({payload:commands[c]});\n}\nflow.set(\"force_commands\",{});\n// for (const entry of commands.entries()) {\n//   node.log(entry);\n// }\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":1470,"y":2880,"wires":[["b287044.920b178"]]},{"id":"4e732646.e86d58","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_extensor","label":"Wrist extensor","group":"5f6ad796.d3c7","order":8,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":580,"y":3040,"wires":[["8c8384c2.fb94e"]]},{"id":"8c8384c2.fb94e","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_extensor","label":"","group":"5f6ad796.d3c7","order":9,"width":"2","height":"1","passthru":true,"topic":"wrist_extensor","format":"{{value}}","min":"38","max":"80","step":"1","x":580,"y":2940,"wires":[["4e732646.e86d58","314bcf8.59a9f3"]]},{"id":"f4c9e3fd.1613c","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_extensor_switch","label":"","group":"5f6ad796.d3c7","order":7,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_extensor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":2980,"wires":[["9635618e.f5ec38"]]},{"id":"67ada49e.e56a24","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_flexor","label":"Wrist flexor","group":"5f6ad796.d3c7","order":11,"width":"12","height":"1","passthru":true,"topic":"","min":"38","max":"80","step":"1","x":570,"y":3240,"wires":[["58f2f67e.97dbd8"]]},{"id":"58f2f67e.97dbd8","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_flexor","label":"","group":"5f6ad796.d3c7","order":12,"width":"2","height":"1","passthru":true,"topic":"wrist_flexor","format":"{{value}}","min":"38","max":"80","step":"1","x":570,"y":3140,"wires":[["67ada49e.e56a24","314bcf8.59a9f3"]]},{"id":"8930434e.745428","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_flexor_switch","label":"","group":"5f6ad796.d3c7","order":10,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_flexor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":3180,"wires":[["9635618e.f5ec38"]]},{"id":"3d97f14.46bb20e","type":"function","z":"bda8fed3.9545b","name":"form_command","func":"var commandJSON = {};\nif (flow.get(msg.topic + \"_position_enabled\"))\n{\n    commandJSON.muscle = msg.topic;//\"triceps\";\n    commandJSON.setpoint = msg.payload;\n    commandJSON.action = \"move to\";\n    msg.payload = commandJSON;\n    return msg;\n}\nelse\n{\n    node.log(msg.topic + \" position not enabled\");\n}\n\n","outputs":1,"noerr":0,"x":900,"y":2060,"wires":[["cd2fe1c4.4bca08"]]},{"id":"5840d9a2.643e","type":"function","z":"bda8fed3.9545b","name":"disable","func":"var commands = {};\nflow.set(\"position_commands\", commands);\n\nif(!msg.payload)\n{\n    // msg.enabled = true;\n    // flow.set(\"command\", 10);\n    flow.set(msg.topic + \"_position_enabled\", false);\n    \n}\nelse\n{\n    flow.set(msg.topic + \"_position_enabled\", true);\n}","outputs":1,"noerr":0,"x":380,"y":2060,"wires":[[]]},{"id":"906301c0.342f2","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/command","msgtype":"std_msgs/String","x":1860,"y":3700,"wires":[]},{"id":"2fb1ae07.9a6772","type":"ui_slider","z":"bda8fed3.9545b","name":"Biceps","label":"Biceps","group":"f74204b9.a8bbd8","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":550,"y":3480,"wires":[["41169de7.8ef6b4"]]},{"id":"41169de7.8ef6b4","type":"ui_numeric","z":"bda8fed3.9545b","name":"Biceps","label":"","group":"f74204b9.a8bbd8","order":3,"width":"2","height":"1","passthru":true,"topic":"biceps","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":550,"y":3380,"wires":[["2fb1ae07.9a6772","df742df9.1eecc"]]},{"id":"f6979a7.1727e68","type":"ui_button","z":"bda8fed3.9545b","name":"send","group":"f74204b9.a8bbd8","order":13,"width":0,"height":0,"passthru":false,"label":"Send velocity","color":"","bgcolor":"","icon":"","payload":"command","payloadType":"flow","topic":"command","x":1290,"y":3700,"wires":[["410a7fdd.ad5818"]]},{"id":"c02c24eb.43b788","type":"function","z":"bda8fed3.9545b","name":"save","func":"var commands = flow.get(\"velocity_commands\");\ncommands[msg.payload.muscle] = msg.payload;\nflow.set(\"velocity_commands\", commands);\n","outputs":1,"noerr":0,"x":1130,"y":3700,"wires":[[]]},{"id":"5de5b34f.5391dc","type":"function","z":"bda8fed3.9545b","name":"disable","func":"var commands = {};\nflow.set(\"velocity_commands\", commands);\n\nif(!msg.payload)\n{\n    // msg.enabled = true;\n    // flow.set(\"command\", 10);\n    flow.set(msg.topic + \"_velocity_enabled\", false);\n    \n}\nelse\n{\n    flow.set(msg.topic + \"_velocity_enabled\", true);\n}","outputs":1,"noerr":0,"x":380,"y":3700,"wires":[[]]},{"id":"27796053.a01238","type":"ui_switch","z":"bda8fed3.9545b","name":"biceps_switch","label":"","group":"f74204b9.a8bbd8","order":1,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"biceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":3420,"wires":[["5de5b34f.5391dc"]]},{"id":"4ef3cda5.75b2ec","type":"json","z":"bda8fed3.9545b","name":"toJSON","x":1660,"y":3700,"wires":[["906301c0.342f2"]]},{"id":"df742df9.1eecc","type":"function","z":"bda8fed3.9545b","name":"form_command","func":"var commandJSON = {};\nif (flow.get(msg.topic + \"_velocity_enabled\"))\n{\n    commandJSON.muscle = msg.topic;//\"triceps\";\n    commandJSON.setpoint = msg.payload;\n    commandJSON.action = \"move with\";\n    msg.payload = commandJSON;\n    return msg;\n}\nelse\n{\n    node.log(msg.topic + \" velocity not enabled\");\n}\n\n","outputs":1,"noerr":0,"x":900,"y":3700,"wires":[["c02c24eb.43b788"]]},{"id":"bfe8031b.595c88","type":"ui_slider","z":"bda8fed3.9545b","name":"Triceps","label":"Triceps","group":"f74204b9.a8bbd8","order":5,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":560,"y":3680,"wires":[["64a1f71b.2f07e8"]]},{"id":"64a1f71b.2f07e8","type":"ui_numeric","z":"bda8fed3.9545b","name":"Triceps","label":"","group":"f74204b9.a8bbd8","order":6,"width":"2","height":"1","passthru":true,"topic":"triceps","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":560,"y":3580,"wires":[["bfe8031b.595c88","df742df9.1eecc"]]},{"id":"35affd67.fc6eda","type":"ui_switch","z":"bda8fed3.9545b","name":"Triceps_switch","label":"","group":"f74204b9.a8bbd8","order":4,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"triceps","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":3620,"wires":[["5de5b34f.5391dc"]]},{"id":"410a7fdd.ad5818","type":"function","z":"bda8fed3.9545b","name":"split","func":"commands = flow.get(\"velocity_commands\");\nnode.log(Object.keys(commands).length);\nvar outputMsgs = [];\nfor (var c in commands) {\n    outputMsgs.push({payload:commands[c]});\n}\nflow.set(\"velocity_commands\",{});\n// for (const entry of commands.entries()) {\n//   node.log(entry);\n// }\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":1470,"y":3700,"wires":[["4ef3cda5.75b2ec"]]},{"id":"5a6af5c5.70c41c","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_extensor","label":"Wrist extensor","group":"f74204b9.a8bbd8","order":8,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":580,"y":3860,"wires":[["8887c254.14edb"]]},{"id":"8887c254.14edb","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_extensor","label":"","group":"f74204b9.a8bbd8","order":9,"width":"2","height":"1","passthru":true,"topic":"wrist_extensor","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":580,"y":3760,"wires":[["5a6af5c5.70c41c","df742df9.1eecc"]]},{"id":"5c7c1e33.05e448","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_extensor_switch","label":"","group":"f74204b9.a8bbd8","order":7,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_extensor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":3800,"wires":[["5de5b34f.5391dc"]]},{"id":"bdcb098d.25de68","type":"ui_slider","z":"bda8fed3.9545b","name":"wrist_flexor","label":"Wrist flexor","group":"f74204b9.a8bbd8","order":11,"width":"12","height":"1","passthru":true,"topic":"","min":"-5","max":"5","step":"0.5","x":570,"y":4060,"wires":[["76645327.be8364"]]},{"id":"76645327.be8364","type":"ui_numeric","z":"bda8fed3.9545b","name":"wrist_flexor","label":"","group":"f74204b9.a8bbd8","order":12,"width":"2","height":"1","passthru":true,"topic":"wrist_flexor","format":"{{value}}","min":"-5","max":"5","step":"0.5","x":570,"y":3960,"wires":[["bdcb098d.25de68","df742df9.1eecc"]]},{"id":"92590c.912a36f8","type":"ui_switch","z":"bda8fed3.9545b","name":"wrist_flexor_switch","label":"","group":"f74204b9.a8bbd8","order":10,"width":"1","height":"1","passthru":false,"decouple":"false","topic":"wrist_flexor","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":4000,"wires":[["5de5b34f.5391dc"]]},{"id":"cee5a80f.e68398","type":"ui_gauge","z":"bda8fed3.9545b","name":"","group":"99e0fac6.c19558","order":2,"width":"6","height":"4","gtype":"gage","title":"Lower joint angle","label":"ticks","format":"{{value}}","min":"1443","max":"2740","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":100,"wires":[]},{"id":"5aa1dc67.a04a2c","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["cee5a80f.e68398"]]},{"id":"1a8f9268.7679ce","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/joints/upper/angle","x":190,"y":160,"wires":[["d54292c.1f88c7"]]},{"id":"13af9d01.fd1c4b","type":"ui_gauge","z":"bda8fed3.9545b","name":"","group":"99e0fac6.c19558","order":1,"width":"6","height":"4","gtype":"gage","title":"Uppper joint angle","label":"ticks","format":"{{value}}","min":"1590","max":"3160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"d54292c.1f88c7","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["13af9d01.fd1c4b"]]},{"id":"fbd3d18e.b9628","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/biceps/sensors","x":210,"y":380,"wires":[["df0b8e41.5b20d8"]]},{"id":"df0b8e41.5b20d8","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":380,"wires":[["210effc7.1a231"],["4e616cf3.3d6ab4"],["4313fe7f.463da8"],["6a796e32.8859"]]},{"id":"210effc7.1a231","type":"ui_chart","z":"bda8fed3.9545b","name":"actuator position (ticks)","group":"670f10cc.76f01","order":1,"width":"8","height":"5","label":"actuator position (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8f42db","#c5b0d5"],"x":770,"y":280,"wires":[[],[]]},{"id":"4e616cf3.3d6ab4","type":"function","z":"bda8fed3.9545b","name":"ticks_to_rad","func":"msg.payload *= 0.0000579;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["820184c1.43b57"]]},{"id":"820184c1.43b57","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"670f10cc.76f01","order":2,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":340,"wires":[[],[]]},{"id":"4313fe7f.463da8","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"670f10cc.76f01","order":3,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":400,"wires":[[],[]]},{"id":"6a796e32.8859","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"670f10cc.76f01","order":4,"width":"8","height":"5","label":"contractile displacement (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":460,"wires":[[],[]]},{"id":"f47bbde6.0c333","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"Start init","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1580,"wires":[["cf28162c.ea6da"]]},{"id":"979e36ff.64fb","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/triceps/sensors","x":210,"y":640,"wires":[["6d631d4c.607eec"]]},{"id":"6d631d4c.607eec","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":640,"wires":[["55d776af.0108a8"],["9217bb6d.15b53"],["d7af9772.0af588"],["a08701a8.ace2f"]]},{"id":"55d776af.0108a8","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":5,"width":"8","height":"5","label":"actuator position (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":540,"wires":[[],[]]},{"id":"9217bb6d.15b53","type":"function","z":"bda8fed3.9545b","name":"ticks_to_rad","func":"msg.payload *= 0.0000579;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":600,"wires":[["225499c8.a588f6"]]},{"id":"225499c8.a588f6","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":6,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":600,"wires":[[],[]]},{"id":"d7af9772.0af588","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":7,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":660,"wires":[[],[]]},{"id":"a08701a8.ace2f","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"61eedd1f.2d3e54","order":8,"width":"8","height":"5","label":"contractile displacement (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":720,"wires":[[],[]]},{"id":"815f6356.6fe9","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/wrist_flexor/sensors","x":220,"y":900,"wires":[["76619535.547334"]]},{"id":"76619535.547334","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":900,"wires":[["3bc55660.ca21aa"],["1d557fcf.cb893"],["e9b03fb5.fc2e2"],["39352abf.1b6eae"]]},{"id":"3bc55660.ca21aa","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":9,"width":"8","height":"5","label":"actuator position (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":800,"wires":[[],[]]},{"id":"1d557fcf.cb893","type":"function","z":"bda8fed3.9545b","name":"ticks_to_rad","func":"msg.payload *= 0.0000579;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["f0ea0f83.a0dcd"]]},{"id":"f0ea0f83.a0dcd","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":10,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":860,"wires":[[],[]]},{"id":"e9b03fb5.fc2e2","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":11,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":920,"wires":[[],[]]},{"id":"39352abf.1b6eae","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"cc4fcbf7.2443f","order":12,"width":"8","height":"5","label":"contractile displacement (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":980,"wires":[[],[]]},{"id":"b3c0bb01.433bc","type":"ros-subscribe","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/throttle/myo_blink/muscles/wrist_extensor/sensors","x":230,"y":1220,"wires":[["f0d5f8de.a4e1b8"]]},{"id":"f0d5f8de.a4e1b8","type":"function","z":"bda8fed3.9545b","name":"unpack","func":"var actuatorPos = {payload:  msg.payload.actuatorPos};\nvar actuatorVel = {payload: msg.payload.actuatorVel};\nvar elacticDisplacement ={ payload: msg.payload.elasticDisplacement};\nvar contractileDisplacement ={payload: msg.payload.contractileDisplacement};\nreturn [actuatorPos, actuatorVel, elacticDisplacement, contractileDisplacement];","outputs":"4","noerr":0,"x":520,"y":1220,"wires":[["be7444ce.2daaf"],["5d25a3ee.28f404"],["b0571ba0.a7e96"],["934025b2.5b7f1"]]},{"id":"be7444ce.2daaf","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":13,"width":"8","height":"5","label":"actuator position (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":1120,"wires":[[],[]]},{"id":"5d25a3ee.28f404","type":"function","z":"bda8fed3.9545b","name":"ticks_to_rad","func":"msg.payload *= 0.0000579;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1180,"wires":[["611f3ad.6f58744"]]},{"id":"611f3ad.6f58744","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":14,"width":"8","height":"5","label":"actuator velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":1180,"wires":[[],[]]},{"id":"b0571ba0.a7e96","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":15,"width":"8","height":"5","label":"elactic displacement (ticks)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":780,"y":1240,"wires":[[],[]]},{"id":"934025b2.5b7f1","type":"ui_chart","z":"bda8fed3.9545b","name":"","group":"171eb80d.0375a","order":16,"width":"8","height":"5","label":"contractile displacement (rad)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":1300,"wires":[[],[]]},{"id":"84205e2f.7867c","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/init","msgtype":"std_msgs/String","x":370,"y":1520,"wires":[]},{"id":"89b9bdc7.1bd22","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"Init here","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1520,"wires":[["84205e2f.7867c"]]},{"id":"cf28162c.ea6da","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/force_init","msgtype":"std_msgs/String","x":390,"y":1580,"wires":[]},{"id":"4b66bc52.67c31c","type":"ui_button","z":"bda8fed3.9545b","name":"","group":"29d1d66.2f65baa","order":0,"width":0,"height":0,"passthru":false,"label":"relax all","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1640,"wires":[["ddaf27ac.f0e0f8"]]},{"id":"ddaf27ac.f0e0f8","type":"ros-publish","z":"bda8fed3.9545b","server":"4b85043a.f6662c","topicname":"/myo_blink/relax_all","msgtype":"std_msgs/String","x":390,"y":1640,"wires":[]}]